.tform{




}

.tbutton{

  width: 10%; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  background-color:#c44569;
  color:white;
  font-weight:400;
  font-size:16px;

}

.center {
  position: relative;
}

.center-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tform{


text-align: center;
padding: 5px;
background-color: white;
border: 1px solid #C0C0C0;
border-radius: 7px;
color: #202020;

}



.tform:focus{
    outline: none;
}
