{%extends 'main_template.html' %}
{% load static %}
{% load filter_extra %}

{% block head %}

{% endblock %}

{%block content%}

<h1 class="text-center" style="font-weight: bold; color: #A30000; font-size: 50px; left: 0;line-height: 200px;margin-top: -120px;position: absolute;text-align: center;top: 50%;width: 100%;"> Error 404 </h1>
<h2 class="text-center" style="font-size: 50px; left: 0;line-height: 200px;margin-top: -70px;position: absolute;text-align: center;top: 50%;width: 100%;"> Not Found. </h2>


{%endblock%}
