{% load static %}
{% load filter_extra %}
<div class="row col-sm">
{% for beer in beers %}
    <div class="card ml-3 mt-3 bar{{beer.bar}}" style="width: 13rem;">
      <div id="card{{beer.beer_name}}" class="card-body" style='background-color: {{beer.beer_name|rcolors}};'>
          {% if beer.out_of_stock == False %}
           <h5 id="card_title_{{beer.beer_name}}" class="card-title text-center">{{ beer.beer_name }}</h5>
          {% else %}
           <h5 id="card_title_{{beer.beer_name}}" class="card-title text-center" style="text-decoration: line-through">{{ beer.beer_name }}</h5>
          {% endif %}
        <div class="input-group col-sm-12">
          <span class="input-group-btn">
              <div class="btn btn-danger" onclick="minus({{ forloop.counter }}, '{{ beer.beer_name }}')">
                  <i class="fas fa-minus"></i>
              </div>
          </span>
          <input type="text" id="input{{ beer.beer_name}}" class="form-control input-number text-center" value="0" min="0" disabled>
          <span class="input-group-btn max-btn {% if beer.out_of_stock == True %} disabled {%  endif %}" id="plus{{ beer.beer_name }}" {% if beer.out_of_stock == False %} onclick="plus({{ forloop.counter }}, '{{ beer.beer_name }}')"  {%  endif %}>
              <button type="button"  class="btn btn-success">
                  <i class="fas fa-plus"></i>
              </button>
          </span>
      </div>
      </div>
    </div>
{% endfor %}
</div>
