{%extends 'main_template.html' %}
{% load static %}
{%block content%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="container">
                    <p>Revenu : {{ total }} €</p>
                    <p>Prix d'achats des biéres vendues : {{ total_buy_price }} €</p>
            </div>
        </div>
        <div class="card-footer text-white bg-secondary">
        Bénéfices théorique total : {{ benef }} €
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div>Prix tréso <b>ATTENTION - Mode non reversible</b></div>
            </div>
        </div>
        <div class="card-body">
        <div class="container">
            {% include 'prix_treso.html' with beers=beers %}
        </div>
    </div>
    <div class="card-footer text-white bg-dark">
        <div class="btn btn-danger ml-3">Activer le failsafe!</div>
    </div>
</div>
</div>

{%endblock%}
