<div class="list-group" id="histo" style="position: relative; height: 94vh; width: 100%; overflow-y: scroll;">
    {% for histo in history reversed %}
    <a class="list-group-item list-group-item-action flex-column align-items-start text-white bg-secondary" id="{{ histo.id_str }}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Commande n°{{ histo.id_str }}</h5>
            <small>{{ histo.time }}</small>
            <button class="btn-sm btn-danger" onclick="delete_histo({{ histo.id_str }})">Supprimer</button>
        </div>
    <p class="mb-1">{{ histo.text }}</p>
    <small id="">Prix total : {{ histo.total_price }} €</small>
    </a>
    {% endfor %}
</div>
