{%extends 'main_template.html' %}
{% load static %}
{%block content%}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-9">
    {% include 'beer_card.html' with beers=beers%}
    <div class="card text-white bg-secondary mt-3 ml-3" style="max-width: 13rem;">
        <div class="card-header">Prix total & Commande</div>
        <div class="card-body">
            <h5 class="card-title">Prix : </h5>
            <div class="text-center">
        <div class="btn btn-success">Commander!</div>
                </div>
        </div>
    </div>

  <div class="col-sm-3">

  </div>
</div>
</div>
</div>
{%endblock%}