{%extends 'main_template.html' %}
{% load static %}
{%block head%}
    <script src="{%static '/scripts/order_page.js' %}"></script>
{% endblock %}
{%block content%}


<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      {% include 'beer_card.html' with beers=beers%}
      <div class="mt-3 ml-3" style="max-width: 13rem;">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" onclick="show_bar(1);hide_bar(2);hide_bar(3);">Bar 1</a></li>
          <li class="page-item"><a class="page-link" onclick="show_bar(2);hide_bar(1);hide_bar(3);">Bar 2</a></li>
          <li class="page-item"><a class="page-link" onclick="show_bar(3);hide_bar(1);hide_bar(2);">Bar 3</a></li>
          <li class="page-item"><a class="page-link" onclick="show_bar(1);show_bar(2);show_bar(3);">All</a></li>    
        </ul>
      </div>
      <div class="card text-white mt-3 ml-3" style="max-width: 13rem;">
          <div class="card-header text-center"style="background-color: #292654;">Prix total & Commande</div>
          <div class="card-body" style="background-color: #37346e;">
              <h5 class="card-title" id="total_price">Prix : 0 €</h5>
              <div class="text-center">
                  <div class="btn btn-success disabled" id="order_btn" onclick="make_order()">Commander!</div>
              </div>
          </div>
      </div>
    </div>
        <div class="col-sm-4">
      {% include 'ordering_list.html' with history=history %}
        </div>

  </div>
</div>


{%endblock%}
