
    <table class="table table-light table-bordered table-striped table-sm mt-3">

      <thead>
        <tr class="">
          <th class="text-center align-middle" scope="col">Bière <i class="fas fas fa-beer"></i></th>
          <th class="text-center" scope="col">Prix €</th>
        </tr>
      </thead>
      <tbody>
        {% for beer in beers %}
          <tr class="">
            <th class="text-center align-middle" scope="row" style="width: 50%"> {{beer.beer_name}} </th>
            <td class="text-center align-middle price" id="{{ beer.beer_name }}" contenteditable="true" style="width: 50%"> {{beer.price}}</td>
          </tr>
        {% endfor %}
      </tbody>
    <div class="btn btn-primary" onclick="set_price()">force updated</div>
    </table>
