{%extends 'main_template.html' %}
{% load static %}
{% load filter_extra %}
{%block content%}
<div class="container border rounded">
  <table class="table table-striped table-bordered table-sm">

    <thead>
      <tr>
        <th class="text-center align-middle" scope="col">Bière <i class="fas fas fa-beer""></i></th>
        <th class="text-center" scope="col">Stock</th>
        <th class="text-center" scope="col">Prix €</th>
        <th class="text-center" scope="col">Tendance <i class="fas fa-sort""></i></th>
      </tr>
    </thead>


    <tbody>

      {% for beer in beers %}
      <tr>

        {% if beer in worth_beers %}
        <th class="text-center align-middle" scope="row">
          <div class="container" style="">
                  <a class="text-center">{{beer.beer_name}}</a>
                  <span class="badge badge-success">worth</span>
          </div>
        </th>
        {% else %}
        <th class="text-center align-middle" scope="row"> {{beer.beer_name}} </th>
        {% endif %}
        <td class="text-center align-middle">{{beer.stock}}</td>
        <td class="text-center align-middle"> {{beer.price}} € </td>
        <td class="text-center align-middle" >
        {% if beer.get_trend == 'UP' %}
        <i class="fas fa-caret-up fa-2x" style="color: green;"></i>
        {% elif beer.get_trend == 'EQUAL' %}
        <i class="fas fa-caret-left fa-2x" style="color: orange;"></i>
        {% else %}
        <i class="fas fa-caret-down fa-2x" style="color: red;"></i>
        {% endif %}
        </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{%endblock%}
