{%extends 'main_template.html' %}
{% load static %}
{% load filter_extra %}

{% block head %}
    <script src="{%static '/scripts/update_stock.js' %}"></script>
{% endblock %}

{%block content%}

<div class="container text-center mt-4 mb-4 ">

  <!---
  <h2 class="font-weight-bold d-inline p-2 bg-dark text-white rounded"><span id="timer_hour">00</span></h2>
  <h2 class="font-weight-bold d-inline p-2 bg-dark text-white rounded"><span id="timer_min">15</span></h2>
  <h2 class="font-weight-bold d-inline p-2 bg-dark text-white rounded"><span id="timer_sec">00</span></h2>
  --->

  <div class="progress" style="height: 20px;">
    <div class="progress-bar" role="progressbar" style="width: 25%; background-color:#428bca;" id="progress_bar"aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Mise à jour des prix</div>
    <span id="progress_tip" data-toggle="tooltip" data-placement="top"></span>
    <!-- TODO: $('#element').tooltip('update'), for update position of tooltip-->
  </div>

</div>

<div class="container border rounded" style="background-color:#F0F1F3;">

  <table class="table table-light table-bordered table-sm mt-3">

    <thead>
      <tr>
        <th class="text-center align-middle" scope="col">Bière <i class="fas fas fa-beer"></i></th>
        <th class="text-center" scope="col">Stock</th>
        <th class="text-center" scope="col">Prix €</th>
        <th class="text-center" scope="col">Tendance <i class="fas fa-sort"></i></th>
      </tr>
    </thead>


    <tbody>
      {% for beer in beers %}


        <tr class="bar{{beer.bar}}" id="beer_tr_{{ beer.id }}">



                <th class="text-center align-middle" id="beer_name_{{ beer.id }}" scope="row"> {{beer.beer_name}} </th>

          <td class="text-center align-middle" id="beer_stock_{{ beer.id }}">{{beer.stock}}</td>
          <td class="text-center align-middle" id="beer_price_{{ beer.id }}"> {{beer.price}} € </td>
          <td class="text-center align-middle" id="beer_trend_image_{{ beer.id }}">
          {% if beer.trend == 'UP' %}
          <i class="fas fa-caret-up fa-2x" style="color: red;"></i>
          {% elif beer.trend == 'EQUAL' %}
          <i class="fas fa-caret-left fa-2x" style="color: orange;"></i>
          {% else %}
          <i class="fas fa-caret-down fa-2x" style="color: green;"></i>
          {% endif %}
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-5">
    <li class="page-item"><a class="page-link" onclick="show_bar(1);hide_bar(2);">Bar 1</a></li>
    <li class="page-item"><a class="page-link" onclick="show_bar(2);hide_bar(1)">Bar 2</a></li>
  </ul>
</nav>

<script>
  $(function(){
    $('#progress_tip').tooltip('show');
  });
</script>


 <footer id="page-footer" class="page-footer fixed-bottom">
    <div class="card text-center">
        <div class="card-header text-center" style="font-weight: bold;">Help <i class="fas fa-key"></i></div>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fas fa-caret-up fa-2x" style="color: red; margin-right: 5px;"></i>- Les prix ont augmentés</li>
            <li class="list-inline-item"><i class="fas fa-caret-left fa-2x" style="color: orange; margin-right: 15px;"></i>- Les prix n'ont pas bouger</li>
            <li class="list-inline-item"><i class="fas fa-caret-down fa-2x" style="color: green; margin-right: 5px;"></i>- Les prix ont diminués</li>
            <li class="list-inline-item" style="font-size:10px;">Powered by Cercle Info.</li>
          </ul>

    </div>
 </footer>

{%endblock%}
